<div id="fragment-settings">
    <h1>Settings</h1>

    <hr />

    <h3>Note Title</h3>
    <p id="fragment-settings-current-title"></p>
    <button id="fragment-settings-button-title-update" class="standard-button">Update Title</button>

    <hr />

    <h3>Page order</h3>
    <table id="fragment-settings-order-table">
        <tr>
            <td>Page Name</td>
            <td>Up</td>
            <td>Down</td>
        </tr>
    </table>
    <br />
    <button id="fragment-settings-save-order" class="standard-button">Save Order</button>
    <button id="fragment-settings-reset-order" class="standard-button">Reset Order</button>

    <hr />

    <h3>Data Import/Export</h3>
    <p>The text below is the JSON representation of the data store in this Notebook.</p>
    <p>
        You can copy/paste this data into another Notebook or paste data into this
        notebook and click the <strong>Update</strong> button to sync this Notebook with the data provided.
    </p>

    <button id="fragment-settings-button-data-import" class="standard-button">Import</button>
    <br />
    <textarea id="fragment-settings-data-area"></textarea>
</div>