<div id="fragment-navigation">
    <h4 id="fragment-navigation-title"></h4>
    <div id="fragment-navigation-button-container">
        <button id="fragment-navigation-save" class="navigation-button">Save</button>
        <button id="fragment-navigation-settings" class="navigation-button">Settings</button>
        <button id="fragment-navigation-images" class="navigation-button">Images</button>
        <button id="fragment-navigation-new-page" class="navigation-button">New Page</button>
    </div>

    <div id="fragment-navigation-page-list-container"></div>
</div>