<div id="fragment-editor">
    <a href="javascript:void(0);"
        id="fragment-editor-button-update"
        class="standard-button-link standard-button-link-fixed">Update Page</a>

    <a href="javascript:void(0);"
        id="fragment-editor-button-cancel"
        class="standard-button-link standard-button-link-fixed">Cancel</a>

    <br/>
    <label>
        Page Title: 
        <input type="text" id="fragment-editor-input-title" class="editor-title-input"/>
    </label>
    <label>
        Parent:
        <select id="fragment-editor-select-parent" class="standard-button"></select>
    </label>
    <br/>

    <textarea id="fragment-editor-area" style="display: none;"></textarea>
</div>