<div id="fragment-editor">
    <button id="fragment-editor-button-update" class="editor-button">Update Page</button>
    <button id="fragment-editor-button-cancel" class="editor-button">Cancel</button>

    <br/>
    <label>
        Page Title: 
        <input type="text" id="fragment-editor-input-title" class="editor-title-input"/>
    </label>
    <label>
        Parent:
        <select id="fragment-editor-select-parent" class="standard-button"></select>
    </label>
    <br/>

    <textarea id="fragment-editor-area" style="display: none;"></textarea>
</div>