/* ===== ===== Global Styles ===== ===== */
* {
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2CB83C;
}

p, li, a {
    line-height: 1.35em;
}

table {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

td, th {
    border: 1px solid #ccc;
    padding: 3px;
}

.standard-button {
    margin: 2px;
    min-width: 200px;
}

.standard-button-link {
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    padding: 5px;
    color: #fff;
    background-color: #2CB83C;
}

.standard-button-link-fixed {
    display: inline-block;
    width: 200px;
}

.standard-button-link:hover {
    background-color: #60D96E;
}

.standard-table-button-link {
    padding: 2px;
    display: inline;
}
/* ===== ===== Global Styles ===== ===== */


/* ===== ===== Root Styles ===== ===== */
#root-container {
    overflow-y: hidden;
}

#root-container::after {
    clear: both;
    float: none;
    content: ' ';
    height: 0;
    display: table;
}

.root-container {
    float: left;
    box-sizing: border-box;
    padding: 5px;
}

#root-content-container{
    width: 77%;
    background-color: #eee;
}
/* ===== ===== Root Styles ===== ===== */


/* ===== ===== Images Fragment Styles ===== ===== */
#fragment-images {
    box-sizing: border-box;
    overflow-y: scroll;
    display: none;
}
/* ===== ===== Images Fragment Styles ===== ===== */


/* ===== ===== Preview Fragment Styles ===== ===== */
#fragment-preview {
    box-sizing: border-box;
    overflow-y: scroll;
    padding-bottom: 50px;
}

#fragment-preview-view-container {
    max-width: 800px;
}

.lookup-error {
    color: #f11;
}

#fragment-preview-view-container li {
    margin-bottom: 7px;
}

#fragment-preview-view-container td, th {
    padding: 5px;
}
/* ===== ===== Preview Fragment Styles ===== ===== */


/* ===== ===== Navigation Fragment Styles ===== ===== */
#fragment-navigation {
    box-sizing: border-box;
    overflow-y: scroll;
    padding-bottom: 50px;
}

#root-nav-container {
    width: 23%;
    background-color: #ddd;
}

#fragment-navigation-button-container {
    text-align: center;
}

#fragment-navigation-page-list-container > ul {
    margin-top: 5px;
}

#fragment-navigation-page-list-container ul {
    padding-left: 20px;
}

.navigation-title {
    color: #20852b;
}

.link-title {
    margin-bottom: 5px;
}

.navigation-button {
    margin: 0 auto;
    width: 80%;
    display: block;
}

.navigation-rule {
    width: 90%;
    color: #2CB83C;
}
/* ===== ===== Navigation Fragment Styles ===== ===== */


/* ===== ===== Editor Fragment Styles ===== ===== */
#fragment-editor {
    display: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

#fragment-editor-area-container {
    max-width: 800px;
}

.editor-button {
    margin: 2px;
    min-width: 200px;
}

.editor-title-input {
    margin: 10px;
    min-width: 200px;
}
/* ===== ===== Editor Fragment Styles ===== ===== */


/* ===== ===== Settings Fragment Styles ===== ===== */
#fragment-settings {
    display: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

#fragment-settings-data-area {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
}
/* ===== ===== Settings Fragment Styles ===== ===== */

/* ===== ===== Search Fragment Styles ===== ===== */
#fragment-search {
    display: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

#fragment-search-results-container .search-highlight {
    background-color: #cfc;
}
/* ===== ===== Search Fragment Styles ===== ===== */